In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as clr
import math
import urllib.parse
import urllib.request
import json

In [20]:
DREMPEL = 2 #cm
YEARS = 20
SAG = 0.1 #cm/year

In [16]:
houses = pd.read_csv('data/waterInHuizen.csv', usecols=['FID','MAX'])

In [17]:
houses

      FID       MAX
0       7  1.724000
1      35  1.673000
2      80  1.583256
3     109  1.699000
4     118  1.590000
..    ...       ...
582  4811  1.702000
583  4821  1.865000
584  4823  1.585542
585  4824  1.588509
586  4841  1.650000

[587 rows x 2 columns]

In [21]:
houses[houses["MAX"] > DREMPEL]

      FID       MAX
23    425  2.186000
49    795  2.458250
59    851  2.202063
62    891  2.448000
292  3825  2.071000
295  3836  2.104000
297  3850  2.056000